.background {
  background-image: linear-gradient(#0073e6, #0059b3);
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentWrapper {
  margin: 50px;
}

/* .header {
} */