.wrapper {
  display: flex;
  background-color: #003366;
  justify-content: center;
  border-bottom: #80bfff 1px solid;
}

.width {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.link {
  color: white;
  padding: 20px 0 20px 0;
  font-size: 18px;
  font-weight: bold;
}
