.wrapper {
    display: flex;
    background-color: black;
    justify-content: center;
}

.width {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    padding: 20px 0 20px 0;
    font-size: 18px;
    font-weight: bold;
}